<%- include('includes/header.ejs') %>

<body>
    <%- include('includes/navigation.ejs') %>
    
    <div class="team-section">
        <h1>Our Team</h1>
        <span class="border"></span>
        <div class="ps">
               <a href="#p1"><img src="p1.png"  alt="">  </a>  <a href="#p2"><img src="p2.png"  alt="">  </a>

            </div>
           <div class="section" id="p1">
            <span class="name">Sarang Samarth</span>
            <span class="border"></span>
            <p>
             We here at Blog Engine believe in the power of writing. We encourage the bloggers to express themselves on different topics to have an impact on our readers. As budding software developers, we are here to make a diffrence.      
            </p>
           </div>
            <div class="section" id="p2">
                    <span class="name">Sanket Warambhe</span>
                    <span class="border"></span>
                    <p>
                    We here at Blog Engine believe in the power of writing. We encourage the bloggers to express themselves on different topics to have an impact on our readers. As budding software developers, we are here to make a difference.         
                    </p>
                    

            </div>
            </div>
    
</body>
</html>