<%- include('includes/header.ejs') %>
    <body>
        <%- include('includes/navigation.ejs') %>
        <div class="container">
            <br>
        <form class="product-form col-lg-6"  method="POST" enctype="multipart/form-data">
                <h3>  My Profile  </h3>
                <img src="beach.jpg" alt="sexy beach" style="width:200px;height:200px;">
                <br>
                <br>
                <div class="form-group">
                        <label for="FullName">FullName</label>
                        <input class="form-control" type="text" name="FullName" id="fullName" >
                    </div>
                    <div class="form-group">
                        <label for="Email">Email</label>
                        <input class="form-control" type="text" name="Email" id="email" >
                    </div>
                    <div class="form-group">
                        <label for="Contact">Contact</label>
                        <input class="form-control" type="text" name="Contact" id="contact" >
                    </div>  
                    <button class="btn btn-success" type="submit" value="Submit">Save Changes</button>

                </form>
        </div>
            
        </body>
    </html>