<%- include('includes/header.ejs') %>
    <body>
        <%- include('includes/navigation.ejs') %>
        <div class="container">
        <h3> My Profile </h3>
        <img src="beach.jpg" alt="sexy beach" style="width:200px;height:200px;"
        <br>
        <br>
        <br>
      <p> FullName: </p>
        <p>Email:</p>
        <p>Contact:</p>
        <button class="btn btn-success" type="submit" value="Submit">Edit Profile</button>
</div>
</body>
</html>
       